.idea
Assets/Plugins
Assets/Resources
Assets/Scenes
Assets/Scripts
Assets/.DS_Store
Assets/Plugins.meta
Assets/Resources.meta
*.meta
Temp
*.csproj
Packages
Library
Logs
ProjectSettings
obj
.DS_Store
UIex.sln
